<ion-header>

	<link href="https://fonts.googleapis.com/css?family=Raleway:800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Asap:500|Montserrat:700" rel="stylesheet">

	<ion-navbar color="primary">

		<ion-title color="white">Profile</ion-title>
<!--     	<ion-searchbar (input)="getItems($event)"></ion-searchbar>
 -->
    	<ion-buttons end>
		    <button ion-button icon-only color="royal" (click)="nextPage();">
		    	<ion-icon name="settings"></ion-icon>
		    </button>
	    </ion-buttons>

  	</ion-navbar>

</ion-header>


<ion-content class="card-background-page">

<div class="search-list" *ngIf="hideSearch">
</div>

<div class="search-panel" id="searchBox">
	<i id="searchIcon" class="fa fa-search" aria-hidden="true" (click)="showSearchList();"></i>
	<input id="input" type="text" name="item" value="Search for other users">

	<ion-list padding *ngIf="hideSearch">
		<ion-item *ngFor="let item of items">
	    {{ item }}
	  </ion-item>
	</ion-list>
	<!-- <span>Search for other users</span> -->
</div>

<div class="user-panel">
	<!-- <img class="settings" src="../assets/img/settings.png"> -->
	<div class="profile-holder">
		<img src="https://pacdn.500px.org/8607703/0345bbea9978e645ac1922fb443c6506d514384c/2.jpg?3">
	</div>
	<h1>Distinct Mind</h1>
	<h2>Montreal, CA</h2>

	<div class="button-holder">
		<div class="buttons">
			<div class="follow-btn">+ FOLLOW</div>
		</div>
	</div>

</div>

<div class="follower-panel">

	<div class="followers">
		<span class="follow-number">12,080</span><br>
		<span class="follow-text">FOLLOWERS</span>
	</div>

	<div class="seperator">
		<hr>
	</div>

	<div class="followings">
		<span class="follow-number">311</span><br>
		<span class="follow-text">FOLLOWINGS</span>
	</div>

</div>

<!-- <div class="user-activities">
	<div class="glass">
		<h1>What I am going to</h1>
	</div>
</div> -->

	<ion-card>
    	<img src='https://drscdn.500px.org/photo/159126611/q%3D80_m%3D2000/761aa193b3195a19dcf7e360f9232376'/>
    	<!-- <div class="card-title">São Paulo</div>
    	<div class="card-subtitle">41 Listings</div> -->
  	</ion-card>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</ion-content>
