page-home {
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
}
.hcard{
  width: 30vh;
  height:34vh;
}

ion-scroll[scrollX] {
  white-space: nowrap;
  height: 35vh;
  overflow: hidden;

  .scroll-item {
    display: inline-block;
  }
  .image{
    width: 25vh;
    margin-left: -10px;
    // height:50px;
  }
}

/* Hide ion-content scrollbar */
::-webkit-scrollbar{
  display:none;
}

}
