page-home {

    h2 {
        text-align: center;
    }

	ion-scroll[scrollX] {
		height: 200px;
		white-space: nowrap;

        .scroll-item {
			display: inline-block;
		}

	}

	/* Hide ion-content scrollbar */
	::-webkit-scrollbar {
		display: none;
	}

}
