<ion-header>
	<ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
	</ion-searchbar>
</ion-header>


<ion-content>

	<ion-list *ngIf="eventsReady">
		<ion-card (click)="moreInfo(event)" *ngFor="let event of events">
			<ion-row>
				<ion-col>
					<h2>{{event.name}}</h2>
					<p>{{event.city}}</p>
					<p>{{formatDate(event.start)}} - {{formatDate(event.end)}}</p>

				</ion-col>

				<ion-col width-20>
					<ion-thumbnail>
						<img src="assets/img/hackathon.jpg">
					</ion-thumbnail>
				</ion-col>
			</ion-row>

			<ion-item actions>
				<button ion-button color="primary" clear item-end icon-left (click)="changeStarStatus(event._id)">
        <ion-icon [name]="checkWhetherStarred(event)"></ion-icon>
      </button>
				<ion-row>
					<ion-col>
						<div ng-app="myApp" ng-controller="myCtrl">
							<button ion-button color="primary" clear item-end icon-left (click)="getFriendsList(event._id)">
        <ion-icon name="person"></ion-icon>
          <p>{{computeFriendsGoing(event.name, event._id, event)}} Followers Going </p>
        </button>
						</div>
					</ion-col>
				</ion-row>
			</ion-item>
		</ion-card>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
